<div class="splash-container">
  <div class="splash">
    <div class="splash-content">
      <h1>Git Credit</h1>
    </div>
    <%= link_to new_user_session_path, class:'actions' do %>
      <p>Log in</p>
    <% end %>
    <%= link_to new_user_registration_path, class:'actions' do %>
      <p>Sign up</p>
    <% end %>
  </div>
</div>
