<div class='header'>
  <div  class='top-content-one'>
    <h1>burger</h1>
    <h1>Transactions</h1>
    <h1>lupa</h1>
  </div>

  <div class='top-content-two'>
    <div>
      <p>Most Recent</p>
      <p>.</p>
    </div>
    <div>
      <p>Most AnciEnt</p>
      <p>.</p>
    </div>
  </div>
</div>
