<div class='header'>
  <div  class='top-content-one'>
    <%= render 'shared/burger' %>
    <h1>INCOMES</h1>
    <%= link_to("HOME", home_index_path, class:"form-header-btn") %>
  </div>

  <div class='top-content-two'>
    <div>
      <p class='text' >Most Recent</p>
      <p class='bullet'>.</p>
    </div>
    <div>
      <p class='text'>Most AnciEnt</p>
      <p class='bullet'>.</p>
    </div>
  </div>
</div>
